<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Varela&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <link rel='stylesheet' href='/static/about.css'>
    </head>
    <body>
        <div class='page-container'>
            <h1>About Room Rater</h1>
            <p>
                I'm an AI student at the University of Amsterdam. Room Rater is
                an AI based hobby project I built inspired by the twitter
                account <a href='https://twitter.com/ratemyskyperoom'>
                @ratemyskyperoom</a>. By downloading room ratings from sources 
                such as Twitter and AirBnB I trained a model to make predictions
                on what people think of your room.
            </p>
                
            <p>
                All code is available on a public 
                <a href='https://github.com/samtitar/room-rater'>github
                repository</a>. Don't take the model's prediction too seriously ;)
            </p>

            <p>
                Be sure to visit my website <a href='http://samtitarsolej.nl'>
                samtitarsolej.nl</a> if you are intereseted in more projects
                like these.
            </p>

            <p><a href='/'>Back to Room Rater</a></p>
        </div>
    </body>
</html>